
.english {
    background-color: #6a44d4 !important;
  }
  .math {
    background-color: #5e76bf !important;
  }
  .art {
    background-color: #12969b !important;
  }
  .science {
    background-color: #6b4734 !important;
  }
  .history {
    background-color: #97711d !important;
  }
  .music {
    background-color: #50db50 !important;
  }
  .geography {
    background-color: #6e5207 !important;
  }
  .pephysicaleducation{
    background-color: #cec32a !important;
  }
  .drama{
    background-color: #220b19 !important;
  }
  .biology{
    background-color: #1f9b00 !important;
  }
  .chemistry{
    background-color: #f700ff !important;
  }
  .physics{
    background-color: #e2d02a !important;
  }
  .itinformationtechnology
  {
    background-color: #17007e !important;
  }
  .foreignlanguages{
    background-color: #5bc042 !important;
  }
  .socialstudies{
      background-color: #d81111 !important;
  }
  .technology{
    background-color: #5a54ad !important;
  }
  .philosophy{
    background-color: #d45c2c !important;
  }
  .graphicdesign{
    background-color: #cd5b9f !important;
  }
  .literature{
    background-color: #e4cf5b !important;
  }
  .algebra{
    background-color: #2d7dd8 !important;
  }
  .geometry{
    background-color: #5bc6e0 !important;
  }