.sfondo{
    position:relative; 
    top:0;
    left:0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.containerTopProfilo
{
    position:absolute;
    left: 5%;
    top: 275px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.profilo{
    margin-top: 30px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
}

.profilo:hover{
  background-color: yellow;
}

.username{
    position: relative;
    top:30px;
    margin-left:10px;
    display:flex;
    align-items: center;
}

.container{
    position: relative;
    top:100px;   
    margin: 5px;
}

.tabs{
  margin-top:30px;
}
 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  } 

  .corsi{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .boxInfo{
    display:inline-block;
    border: 2px solid black;
    width:auto;
    height:200px;
    margin-right: 20%;
    padding: 10px;
  }

  .boxFeedback{
    display:flex;
    flex-direction: column;
    row-gap: 20px;  
}

  .info{
    display:flex;
    flex-wrap: wrap;
  }

  .recensione{
    min-width: 100px;
    width:400px;
    height:auto;
  }

  .sidebar{
    
  }

